@charset "utf-8";

/**************************reset ********************************************/
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    color: #fff;
}

.inner {
    width: calc(100% - 48px);
    margin: 0 auto;
}

/* *********************************************** */
html,
body {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: relative;
}

body {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    color: #fff;
}

/************************************************************ header */
header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

header .inner {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    width: 64px;
}

header h1 a img {
    width: 100%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav ul li {
    padding: 0px 60px;
}

header nav a {
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
}

/************************************************************ intro */
section.intro {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

section.intro p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
}

/************************************************************ banner */
section.banner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    overflow: hidden;
}

.swiper-slide {
    width: 1290px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateZ(1);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .slide-txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.swiper-slide .slide-txt .txt1 {
    font-size: 6rem;
    font-weight: 700;
}

.swiper-slide .slide-txt .txt2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.swiper-slide .slide-txt .txt3 {
    font-size: 1.25rem;
}

.swiper-slide .slide-txt .btn {
    border: 1px solid #fff;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;

    padding: 24px 30px;
    border-radius: 100px;
}

.scroll {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1;
    color: #fff;
}


.scroll-bar {
    width: 2px;
    height: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-bar::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.25)35%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.75) 75%, transparent 100%);
    animation: scroll 3s infinite;
    z-index: 2;
}

@keyframes scroll {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }

    25% {
        transform-origin: top;
        transform: scaleY(0.8);
    }

    50% {
        transform-origin: top;
        transform: scaleY(1);
    }

    75% {
        transform-origin: bottom;
        transform: scaleY(1);
    }

    100% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
}

/* 

@keyframes slide {

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}



.text {
    opacity: 0;
    transform: translateY(20px);
    display: inline-block;
    animation: fadeInUp 2s;
}

.text.t1 {
    animation-delay: 0s;
}

.text.t2 {
    animation-delay: 0.3s;
}

.text.t3 {
    animation-delay: 0.6s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
        animation-duration: 1s;
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
} */